// Home
@import url( http://fonts.googleapis.com/css?family=Inconsolata );

body,
html
{
	font-family: 'Inconsolata';
	width: 100%;
	background-color: #000;
	background-image: url( './images/texture-stars.gif' );
	background-repeat: repeat;
}

.created-by
{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #F0E8CF;
	font-size: 12px;
}

.created-text
{
	display: inline-block;
}

.heart
{
	display: inline-block;
	background-image: url( './favicon.png' );
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	background-size: 12px 12px;
	top: 2px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

.nav
{
	transition: height 0.3s ease-out;
	overflow: hidden;
	height: auto;

	&.hidden
	{
		height: 0px;
	}
}

.nav-toggle
{
	color: #fff;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	width: 150px;
	text-align: center;
	margin-bottom: 30px;

	&:before
	{
		display: inline-block;
		content: '↓ Hide Nav\00a0';
	}

	&:after
	{
		display: inline-block;
		content: '↓';
	}

	&.collapsed
	{
		&:before
		{
			display: inline-block;
			content: '↑ Show Nav\00a0';
		}

		&:after
		{
			display: inline-block;
			content: '↑';
		}
	}
}

.main-characters
{
	max-width: 600px;
	margin: 0 auto 30px auto;
}

.everyone-else
{
	max-width: 900px;
	margin: 0 auto 5px auto;
}

.nav-item
{
	border-radius: 6px;
	cursor: pointer;
	border: 1px solid rgba( #fff, 0.75 );
	height: 32px;
	// box-shadow: inset -2px 0 0 0 rgba( #fff, 0.75 ), inset 2px 0 0 0 rgba( #fff, 0.75 );
	color: rgba( #fff, 0.75 );
	font-size: 14px;
	display: inline-block;
	margin-right: 18px;
	padding-right: 14px;
	padding-left: 14px;
	line-height: 32px;
	margin-bottom: 18px;

	&:hover
	{
		border: 1px solid rgba( #fff, 1 );
		color: rgba( #fff, 1 );
		background-color: rgba( 255, 255, 255, 0.2 );
	}

	&.selected
	{
		background-color: rgba( #F2A900, 0.32 );
		border: 1px solid #F1D200;
		color: #F0E8CF;
		box-shadow: inset 2px 0 0 0 #F1D200, inset -2px 0 0 0 #F1D200;

		&:hover
		{
			box-shadow: inset 2px 0 0 0 #F1D200, inset -2px 0 0 0 #F1D200, 0 0 20px 0 rgba( #F1D200, 0.82 );
		}
	}
}

.logo
{
	padding: 50px 0 50px 0;
}

img,
.logo,
.images,
.nav
{
	text-align: center;
}

.images img
{
	padding: 60px 90px 60px 90px;
	@media( max-width: 700px )
	{
		display: block;
		max-width: 700px;
		margin: 0 auto;
		padding: 40px 10px;
	}

	@media( max-width: 420px )
	{
		display: block;
		max-width: 400px;
		margin: 0 auto;
		padding: 40px 10px;
	}

	@include breakpoint( 'iphone-portrait' )
	{
		display: block;
		max-width: 300px;
		margin: 0 auto;
		padding: 40px 10px;
	}

	
}
