include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Pics' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( '' )