include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Android 16', 'Collection of Android 16 gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'android-16' )

		.images
			img( src='./images/16/16_blast.gif' )
			img( src='./images/16/16_charging_forward.gif' )
			img( src='./images/16/16_charging.gif' )
			img( src='./images/16/16_double_kick.gif' )
			img( src='./images/16/16_slow_hand_launch.gif' )
			img( src='./images/16/16_spinning_hand_launch.gif' )
			img( src='./images/16/16_two_Way_punch.gif' )