include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Android 17', 'Collection of Android 17 gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'android-17' )

		.images
			img( src='./images/17/17_blast.gif' )
			img( src='./images/17/17_charging.gif' )
