include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Android 18', 'Collection of Android 18 gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'android-18' )

		.images
			img( src='./images/18/18_big_blast.gif' )
			img( src='./images/18/18_blast.gif' )
			img( src='./images/18/18_charging.gif' )
			img( src='./images/18/18_hair_toss.gif' )
			img( src='./images/18/18_punching_vegeta.gif' )
			img( src='./images/18/18_waiting.gif' )