include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Babidi', 'Collection of Babidi gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'babidi' )

		.images
			img( src='./images/babidi/babidi.gif' )