include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Baby Vegeta' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'baby-vegeta' )

		.images
			img( src='./images/bebi_vegeta/bebi_vegeta_blast.gif' )
			img( src='./images/bebi_vegeta/bebi_vegeta_fire.gif' )
			img( src='./images/bebi_vegeta/bebi_vegeta_punch.gif' )