include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Bardock', 'Collection of Bardock gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'bardock' )

		.images
			img( src='./images/bardock/bardock_blast.gif' )
			img( src='./images/bardock/bardock_flying.gif' )
			img( src='./images/bardock/bardock_supercharged.gif' )