include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Broly' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'broly' )

		.images
			img( src='./images/broly/broly_ball_blast.gif' )
			img( src='./images/broly/broly_blast.gif' )
			img( src='./images/broly/broly_blasting_vegeta.gif' )
			img( src='./images/broly/broly_blasts_vegeta.gif' )
			img( src='./images/broly/broly_charge_blast.gif' )
			img( src='./images/broly/broly_kicking.gif' )
			img( src='./images/broly/broly_punch.gif' )
			img( src='./images/broly/broly_punching_vegeta.gif' )
			img( src='./images/broly/broly_supercharged.gif' )
			img( src='./images/broly/broly_transform.gif' )
			img( src='./images/broly/broly_yell_punch.gif' )
			img( src='./images/broly/broly_vs_goku_gohan_goten.gif' )