include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Buu', 'Collection of Buu gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'buu' )

		.images
			img( src='./images/buu/buu_belly_dancing.gif', alt='Buu belly dancing' )
			img( src='./images/buu/buu_belly.gif' )
			img( src='./images/buu/buu_charging.gif', alt='Buu charging up' )
			img( src='./images/buu/buu_flying_with_satan.gif' )
			img( src='./images/buu/buu_ground_kick.gif' )
			img( src='./images/buu/buu_hand_explode.gif' )
			img( src='./images/buu/buu_monkey.gif' )
			img( src='./images/buu/buu_steam_blast.gif' )
			img( src='./images/buu/buu_steam.gif' )
			img( src='./images/buu/buu_upsidedown.gif' )