include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Dabura' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'dabura' )

		.images
			img( src='./images/dabura/dabura_charging.gif' )
			img( src='./images/dabura/dabura_fight.gif' )
			img( src='./images/dabura/dabura_floor_blast.gif' )
			img( src='./images/dabura/dabura_mouth_blast.gif' )
			img( src='./images/dabura/dabura_power.gif' )