include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Dende', 'Collection of Dende gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'dende' )

		.images
			img( src='./images/dende/dende.gif' )