include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Dr. Gero', 'Collection of Dr. Gero gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'dr-gero' )

		.images
			img( src='./images/dr-gero/drgero_kick_punch.gif', alt='Dr. Gero kicking and punching' )