include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Frieza', 'Collection of Frieza gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'frieza' )

		.images
			img( src='./images/frieza/frieza_ground_blast.gif' )
			img( src='./images/frieza/frieza_blasts_vegeta.gif' )
			img( src='./images/frieza/frieza_finger_shot.gif' )
			img( src='./images/frieza/frieza_tail_holding_piccolo.gif' )
			img( src='./images/frieza/frieza_throwing_disc.gif' )
			img( src='./images/frieza/frieza_transforms.gif' )
			img( src='./images/frieza/frieza_bulging.gif' )
			img( src='./images/frieza/frieza_charging_2.gif' )
			img( src='./images/frieza/frieza_charging.gif' )
			img( src='./images/frieza/frieza_claw.gif' )
			img( src='./images/frieza/frieza_darkballfire.gif' )
			img( src='./images/frieza/frieza_disc_2.gif' )
			img( src='./images/frieza/frieza_flys_at_piccolo.gif' )
			img( src='./images/frieza/frieza_punch_blast_piccolo.gif' )
			img( src='./images/frieza/frieza_red_disc.gif' )
			img( src='./images/frieza/frieza_tail_hold_vegeta.gif' )
			img( src='./images/frieza/frieza_tail_wag.gif' )
			img( src='./images/frieza/frieza_transform.gif' )