include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Pics' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'ginyu' )

		.images
			img( src='./images/ginyu/ginyu_charging.gif' )
			img( src='./images/ginyu/ginyu_force.gif' )
			img( src='./images/ginyu/ginyu_laughing.gif' )
			img( src='./images/ginyu/ginyu_stances.gif' )