include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Gogeta' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'gogeta' )

		.images
			img( src='./images/gogeta/gogeta_blast.gif' )
			img( src='./images/gogeta/gogeta_circles_blast.gif' )
			img( src='./images/gogeta/gogeta_fusion.gif' )