include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Gohan', 'Collection of Gohan gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'gohan' )

		.images
			//- Gohan
			img( src='./images/gohan/gohan_air_kick.gif' )
			img( src='./images/gohan/gohan_blast_2.gif' )
			img( src='./images/gohan/gohan_blasting.gif' )
			img( src='./images/gohan/gohan_cape_blowing.gif' )
			img( src='./images/gohan/gohan_charging.gif' )
			img( src='./images/gohan/gohan_fighting_vegeta.gif' )
			img( src='./images/gohan/gohan_kamehameha.gif' )
			img( src='./images/gohan/gohan_kicking_cell.gif' )
			img( src='./images/gohan/gohan_kills_cell.gif' )
			img( src='./images/gohan/gohan_punching_cell.gif' )
			img( src='./images/gohan/gohan_punching.gif' )
			img( src='./images/gohan/gohan_saiyaman_blast.gif' )
			img( src='./images/gohan/gohan_spin_kick.gif' )
			img( src='./images/gohan/gohan_ssj2.gif' )
			img( src='./images/gohan/gohan_stance.gif' )
			img( src='./images/gohan/gohan_vs_cell.gif' )
			img( src='./images/gohan/gohan_waiting.gif' )
			img( src='./images/gohan/gohan_windy_cape.gif' )
			img( src='./images/gohan/gohan_blast.gif' )
			img( src='./images/gohan/gohan_vs_drgero.gif' )
			img( src='./images/gohan/saiyaman_cape.gif' )
			img( src='./images/gohan/saiyaman_blast.gif' )
			img( src='./images/gohan/gohan_blasting_cell.gif' )
