include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Goku' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'goku' )

		.images
			//- Goku
			img( src='./images/goku/goku_beats_up_frieza.gif' )
			img( src='./images/goku/goku_beats_up_vegeta.gif' )
			img( src='./images/goku/goku_blast.gif' )
			img( src='./images/goku/goku_blast_into_distance.gif' )
			img( src='./images/goku/goku_charging.gif' )
			img( src='./images/goku/goku_dodging.gif' )
			img( src='./images/goku/goku_electric.gif' )
			img( src='./images/goku/goku_fast_kick.gif' )
			img( src='./images/goku/goku_fireball.gif' )
			img( src='./images/goku/goku_gets_jumped.gif' )
			img( src='./images/goku/goku_head_scratch.gif' )
			img( src='./images/goku/goku_hurls_vegeta.gif' )
			img( src='./images/goku/goku_instanttrans.gif' )
			img( src='./images/goku/goku_jump_kick.gif' )
			img( src='./images/goku/goku_kameha.gif' )
			img( src='./images/goku/goku_kicking.gif' )
			img( src='./images/goku/goku_kicking_2.gif' )
			img( src='./images/goku/goku_kicks.gif' )
			img( src='./images/goku/goku_knee.gif' )
			img( src='./images/goku/goku_knees_frieza.gif' )
			img( src='./images/goku/goku_modes.gif' )
			img( src='./images/goku/goku_power_up.gif' )
			img( src='./images/goku/goku_punching_up.gif' )
			img( src='./images/goku/goku_punching.gif' )
			img( src='./images/goku/goku_shooting_at_you.gif' )
			img( src='./images/goku/goku_sphere_blast.gif' )
			img( src='./images/goku/goku_spirit_bomb.gif' )
			img( src='./images/goku/goku_ssj_charging.gif' )
			img( src='./images/goku/goku_ssj3_blast.gif' )
			img( src='./images/goku/goku_ssj3_charging.gif' )
			img( src='./images/goku/goku_ssj4_charging.gif' )
			img( src='./images/goku/goku_stretching_leg.gif' )
			img( src='./images/goku/goku_super_charged.gif' )
			img( src='./images/goku/goku_teleport.gif' )
			img( src='./images/goku/goku_throw_vegeta.gif' )
			img( src='./images/goku/goku_transforms.gif' )
			img( src='./images/goku/goku_transmission.gif' )
			img( src='./images/goku/goku_vegeta_fight_rest.gif' )
			img( src='./images/goku/goku_vegeta_fusion.gif' )
			img( src='./images/goku/goku_vs_cell.gif' )
			img( src='./images/goku/goku_vs_frieza.gif' )
			img( src='./images/goku/goku_vs_piccolo.gif' )
			img( src='./images/goku/goku_vs_trunks.gif' )
			img( src='./images/goku/goku_vs_vegeta.gif' )
			img( src='./images/goku/goku_waiting.gif' )
