include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Goten' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'goten' )

		.images
			img( src='./images/goten/goten_blast.gif' )
			img( src='./images/goten/goten_charge_blast.gif' )
			//- img( src='./images/goten/goten_flip_land.gif' )
			img( src='./images/goten/goten_power_up.gif' )
			//- img( src='./images/goten/goten_punching.gif' )
			img( src='./images/goten/goten_trunks_fusion.gif' )