include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Gotenks', 'Collection of Gotenks gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'gotenks' )

		.images
			img( src='./images/gotenks/gotenks_donut_blast.gif' )
			img( src='./images/gotenks/gotenks_flying.gif' )
			img( src='./images/gotenks/gotenks_fusion.gif', alt='Gotenks fusion' )
			img( src='./images/gotenks/gotenks_ghost.gif' )
			img( src='./images/gotenks/gotenks_hover.gif' )
			img( src='./images/gotenks/gotenks_in_out.gif' )
			img( src='./images/gotenks/gotenks_kick.gif' )
			img( src='./images/gotenks/gotenks_peace.gif' )
			img( src='./images/gotenks/gotenks_powerup.gif' )
			img( src='./images/gotenks/gotenks_rapid_blast.gif' )
			img( src='./images/gotenks/gotenks_rapid_fire.gif' )
			img( src='./images/gotenks/gotenks_ssj3_ghost.gif' )
			img( src='./images/gotenks/gotenks_stance.gif' )
			img( src='./images/gotenks/gotenks_victory.gif' )
			img( src='./images/gotenks/gotenks_vs_buu.gif', alt='Gotenks fighting Buu' )
			img( src='./images/gotenks/gotenks_transformation.gif' )