include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Guldo', 'Collection of Guldo gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'guldo' )

		.images
			img( src='./images/guldo/guldo_blast.gif' )
			img( src='./images/guldo/guldo_sprite.gif' )