include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Jeice' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'jeice' )

		.images
			img( src='./images/jeice/jeice_blast.gif' )
			img( src='./images/jeice/jeice_sprite.gif' )