include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Pics' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'kai' )

		.images
			img( src='./images/kai/kai_blast.gif' )
			img( src='./images/kai/kai_charging.gif' )
			img( src='./images/kai/kai_punching.gif' )
			img( src='./images/kai/kai_slash.gif' )