include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Kid Trunks', 'Collection of Kid Trunks gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'kid-trunks' )

		.images
			img( src='./images/kid_trunks/kid_trunks_charging.gif' )
			img( src='./images/kid_trunks/kid_trunks_kicking.gif' )
			//- img( src='./images/kid_trunks/kid_trunks_blast.gif' )
			img( src='./images/kid_trunks/kid_trunks_waiting.gif' )