include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Krillin' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'krillin' )

		.images
			img( src='./images/krillin/krillin_charging.gif' )
			img( src='./images/krillin/krillin_flare.gif' )
			img( src='./images/krillin/krillin_punch.gif' )
			img( src='./images/krillin/krillin_bash.gif' )
			img( src='./images/krillin/krillin_blast.gif' )
			img( src='./images/krillin/krillin_kicks.gif' )
			img( src='./images/krillin/krillin_charge_blast.gif' )