include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Pics' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'krillen' )

		.images
			img( src='./images/krillen/krillen_charging.gif' )
			img( src='./images/krillen/krillen_flare.gif' )
			img( src='./images/krillen/krillen_punch.gif' )
			img( src='./images/krillen/krillen_bash.gif' )
			img( src='./images/krillen/krillen_blast.gif' )
			img( src='./images/krillen/krillen_kicks.gif' )
			img( src='./images/krillen/krillen_charge_blast.gif' )