include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Nappa', 'Collection of Nappa gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'nappa' )

		.images
			img( src='./images/nappa/nappa_destroys_saibaman.gif' )
			img( src='./images/nappa/nappa_fire.gif' )
			img( src='./images/nappa/nappa_punch.gif' )