include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Other', 'Collection of other DBZ gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'other' )

		.images
			img( src='./images/other/dragonball.gif' )
			img( src='./images/other/earthdragon.gif' )
			img( src='./images/other/facesaround.gif' )
			img( src='./images/other/scouter.gif' )
			img( src='./images/other/all_fighters_charging.gif' )
			img( src='./images/other/many_characters_1.gif' )
			img( src='./images/other/goku_and_vegeta_vs_brolly_and_raditz.gif' )