include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Pan', 'Collection of Pan gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'pan' )

		.images
			img( src='./images/pan/pan_charging.gif' )
			img( src='./images/pan/pan_teleport.gif' )
			img( src='./images/pan/pan_charging_2.gif' )