include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Piccolo' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'piccolo' )

		.images
			//- Piccolo
			img( src='./images/piccolo/piccolo_ball_blast.gif' )
			img( src='./images/piccolo/piccolo_beamcannon.gif' )
			img( src='./images/piccolo/piccolo_blast.gif' )
			img( src='./images/piccolo/piccolo_cape_blowing.gif' )
			img( src='./images/piccolo/piccolo_cape_on.gif' )
			img( src='./images/piccolo/piccolo_cape.gif' )
			img( src='./images/piccolo/piccolo_charge_beam.gif' )
			img( src='./images/piccolo/piccolo_charge_blast.gif' )
			img( src='./images/piccolo/piccolo_charging_2.gif' )
			img( src='./images/piccolo/piccolo_charging.gif' )
			img( src='./images/piccolo/piccolo_chopping.gif' )
			img( src='./images/piccolo/piccolo_crouched_kick.gif' )
			img( src='./images/piccolo/piccolo_fire.gif' )
			img( src='./images/piccolo/piccolo_flying_kick.gif' )