include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Radditz', 'Collection of Radditz gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'radditz' )

		.images
			//- Radditz
			img( src='./images/radditz/radditz_blast.gif' )
			img( src='./images/radditz/radditz_fire.gif' )
			img( src='./images/radditz/radditz_flying.gif' )
			img( src='./images/radditz/radditz_ssj.gif' )