include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Recoome', 'Collection of Recoome gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'recoome' )

		.images
			img( src='./images/recoome/recoome_blast.gif' )
			img( src='./images/recoome/recoome_dance.gif' )
			img( src='./images/recoome/recoome_hovering.gif' )
			img( src='./images/recoome/recoome_power_up.gif' )
			img( src='./images/recoome/recoome_punching.gif' )
			img( src='./images/recoome/recoome_sprite.gif' )
			img( src='./images/recoome/recoome_stance.gif' )