include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Master Roshi', 'Collection of Master Roshi gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'roshi' )

		.images
			img( src='./images/roshi/roshi_blast.gif' )
			img( src='./images/roshi/roshi_bulk_blast.gif' )
			img( src='./images/roshi/roshi_dance.gif' )
			img( src='./images/roshi/roshi_sprite.gif' )
