include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Tien', 'Collection of Tien gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'tien' )

		.images
			img( src='./images/tien/tien_arm.gif' )
			img( src='./images/tien/tien_blast.gif' )
			img( src='./images/tien/tien_charging_2.gif' )
			img( src='./images/tien/tien_charging.gif' )
			img( src='./images/tien/tien_combo.gif' )
			img( src='./images/tien/tien_fire.gif' )
			img( src='./images/tien/tien_multiform.gif' )