include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Trunks' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'trunks' )

		.images
			img( src='./images/trunks/trunks_and_goten_shots_connect.gif' )
			img( src='./images/trunks/trunks_blast_2.gif' )
			img( src='./images/trunks/trunks_blast.gif' )
			img( src='./images/trunks/trunks_blocking.gif' )
			img( src='./images/trunks/trunks_charge_blast.gif' )
			img( src='./images/trunks/trunks_charging.gif' )
			img( src='./images/trunks/trunks_ground_sword.gif' )
			img( src='./images/trunks/trunks_jump_kick.gif' )
			img( src='./images/trunks/trunks_power_up.gif' )
			img( src='./images/trunks/trunks_slices_cell.gif' )
			img( src='./images/trunks/trunks_slicing_frieza_2.gif' )
			img( src='./images/trunks/trunks_ssj.gif' )
			img( src='./images/trunks/trunks_ssj1.gif' )
			img( src='./images/trunks/trunks_sword_combo.gif' )
			img( src='./images/trunks/trunks_sword_leap.gif' )
			img( src='./images/trunks/trunks_wind.gif' )
			img( src='./images/trunks/trunks_windy.gif' )
			img( src='./images/trunks/trunks_slicing_frieza_1.gif' )
			img( src='./images/trunks/trunks_sword_leap.gif' )
			img( src='./images/trunks/trunks.gif' )
