include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Vegetto' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'vegetto' )

		.images
			img( src='./images/vegetto/vegetto_blast.gif' )
			img( src='./images/vegetto/vegetto_bond.gif' )
			img( src='./images/vegetto/vegetto_finger.gif' )
			img( src='./images/vegetto/vegetto_flip_attack.gif' )
			img( src='./images/vegetto/vegetto_fusion.gif' )
			img( src='./images/vegetto/vegetto_fusion_2.gif' )
			img( src='./images/vegetto/vegetto_kamehameha.gif' )
			img( src='./images/vegetto/vegetto_kick.gif' )
			img( src='./images/vegetto/vegetto_kicking_frieza.gif' )
			img( src='./images/vegetto/vegetto_panting.gif' )
			img( src='./images/vegetto/vegetto_ssj.gif' )
			img( src='./images/vegetto/vegetto_pose.gif' )