include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Vegeta', 'Collection of Vegeta gifs' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif', alt='Animated DBZ Logo' )
		
		+nav( 'vegeta' )

		.images
			//- Vegeta
			img( src='./images/vegeta/vegeta_vs_piccolo.gif', alt='Vegeta fighting Piccolo' )
			img( src='./images/vegeta/vegeta_blast_2.gif' )
			img( src='./images/vegeta/vegeta_blast_3.gif' )
			img( src='./images/vegeta/vegeta_blast.gif', alt='Vegeta blasting' )
			img( src='./images/vegeta/vegeta_blasting_cell.gif', alt='Vegeta blasting Cell' )
			img( src='./images/vegeta/vegeta_blasting_goku_up.gif' )
			img( src='./images/vegeta/vegeta_blasting_goku.gif' )
			img( src='./images/vegeta/vegeta_blue_glow.gif' )
			img( src='./images/vegeta/vegeta_charging_1.gif' )
			img( src='./images/vegeta/vegeta_charging_2.gif' )
			img( src='./images/vegeta/vegeta_charging.gif', alt='Vegeta charging up' )
			img( src='./images/vegeta/vegeta_elbow_trunks.gif' )
			img( src='./images/vegeta/vegeta_final_flash.gif' )
			img( src='./images/vegeta/vegeta_finishes_buu.gif', alt='Vegeta killing Buu' )
			img( src='./images/vegeta/vegeta_fire.gif' )
			img( src='./images/vegeta/vegeta_floor_blast.gif' )
			img( src='./images/vegeta/vegeta_hand_punch.gif' )
			img( src='./images/vegeta/vegeta_hyper.gif' )
			img( src='./images/vegeta/vegeta_kicking.gif' )
			img( src='./images/vegeta/vegeta_kills_pikachu.gif', alt='Vegeta kills Pikachu' )
			img( src='./images/vegeta/vegeta_leap.gif' )
			img( src='./images/vegeta/vegeta_majinization.gif' )
			img( src='./images/vegeta/vegeta_shot.gif' )
			img( src='./images/vegeta/vegeta_shots.gif' )
			img( src='./images/vegeta/vegeta_slide_kick.gif' )
			img( src='./images/vegeta/vegeta_ssj4_blast_2.gif' )
			img( src='./images/vegeta/vegeta_ssj4_blast.gif' )
			img( src='./images/vegeta/vegeta_ssj4.gif' )
			img( src='./images/vegeta/vegeta_throwing_frieza.gif' )
			img( src='./images/vegeta/vegeta_volley.gif' )
