include ../../common-components/head/head.jade
include ../../common-components/nav/nav.jade

doctype html
html
	+head( 'DragonBall Gifs - Yamcha' )
	body
		.logo
			img( src='./images/other/dbz_logo.gif' )
		
		+nav( 'yamcha' )

		.images
			img( src='./images/yamcha/yamcha_blast.gif' )

			